* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  background: #f5f5dc;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
  padding: 25px;
}
.Div_Container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  gap: 15px;
}
.Div_Card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5dc;
  border: 1px solid white;
  padding: 15px;
  box-shadow: 10px 10px 10px 10px gainsboro;
  border-radius: 5px;
}
.Img {
  width: auto;
  height: auto;
  align-items: center;
  position: absolute;
  z-index: 1;
}
.Div_Img {
  width: auto;
  height: auto;
  position: absolute;
}
.Div_Img img {
  width: 250px;
  height: 200px;
  position: absolute;
  z-index: 0;
}

.display {
  width: 250px;
  height: 200px;
  display: flex;
  position: absolute;
  z-index: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(72, 71, 71, 0.726);
  flex-wrap: wrap;
}
.nodisplay {
  display: none;
}
.display p {
  width: auto;
  height: auto;
  font-size: 1.4rem;
  color: white;
  font-weight: 500;
}
.Text {
  width: auto;
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: end;

  align-content: flex-end;
  text-align: center;
}

/*Botones de cambio de paginas*/
.Div_Selection {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.Div_Selection button {
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 14px;
  font-weight: 550;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;

  transition: 0.3s ease-in-out;
}
.Div_Selection button:hover {
  background: #a67b5b;
  color: white;
  transform: scale(1.1);
}

/*Second page*/
.Container_Filter {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  gap: 15px;
  flex-direction: column;
 flex-wrap: wrap;
}
table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}
table,
td,
th {
    text-align: center;
  border-bottom: 1px solid gainsboro;
}
td,
th {
  padding: 10px;
}
td:nth-child(4) button:nth-child(1) {
  background-color: none;
  border: none;
  color: green;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}
td:nth-child(4) button:nth-child(2) {
  background-color: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
th {
  font-size: 17px;
}
th i {
  margin-left: 4px;
  font-size: 14px;
}
table tbody img {
  width: 70px;
  height: 70px;
}
.Div_Buscar {
  width: auto;
  height: auto;
}
.Div_Buscar input {
  width: 390px;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid grey;
}
.Div_Buscar input:focus {
  outline: none;
}

.Dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.Dialog .Div_Up_Info{
  width: 450px;
 
height: 150px;
padding: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
    position: fixed;
    background: white;
    gap: 15px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 10px 10px gainsboro;
}
.Dialog .Div_Up_Info input{
width: 70%;
height: auto;
padding: 15px;
}
.Div_Buttons{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
   
}
.Div_Buttons button{
    width:auto;
    height: auto;
    padding: 10px;
    font-size: 15px;
    padding: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid gray;
cursor: pointer;
}
.Div_Buttons button:nth-child(1){
    background: green;
    color: white;
}
.Div_Buttons button:nth-child(2){
    background: red;
    color: white;
}
@media (max-width: 599px) {
  .Div_Container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    
  }
  table {
  width: auto;
  height: auto;
  border-collapse: collapse;
}
.Div_Buscar input {
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid grey;
}
 
td {
  font-size: 14px;
}

th {
  font-size: 15px;
}
}

 
 

@media  (min-width: 1023px) {
  .Div_Container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto, auto);
    grid-template-rows: repeat(auto, auto);
    align-items: center;
    gap: 15px;
  }
    table {
  width: auto;
  height: auto;
  border-collapse: collapse;
}
.Div_Buscar input {
  width: auto;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid grey;
}
td {
  font-size: 14px;
}

th {
  font-size: 15px;
}
}

 
